<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated iDM_Test -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iDM_Test.presentation.IDM_TestModelWizardID"
            name="%_UI_IDM_TestModelWizard_label"
            class="iDM_Test.presentation.IDM_TestModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IDM_TestModelFile.gif">
         <description>%_UI_IDM_TestModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated iDM_Test -->
      <editor
            id="iDM_Test.presentation.IDM_TestEditorID"
            name="%_UI_IDM_TestEditor_label"
            icon="icons/full/obj16/IDM_TestModelFile.gif"
            extensions="idm_test"
            class="iDM_Test.presentation.IDM_TestEditor"
            contributorClass="iDM_Test.presentation.IDM_TestActionBarContributor">
      </editor>
   </extension>

</plugin>
