<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iDM_Test -->
      <package
            uri="http://www.example.org/iDM_Test"
            class="iDM_Test.IDM_TestPackage"
            genModel="model/iDM_Test.genmodel"/>
   </extension>

</plugin>
